@model Views_Home_BookNow

<div class="text-bg-danger" >
    <h2 class="card-header text-center" >Best Travel Experience</h2>
</div>

<div class="row">

<div class="col-md-3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7mcjbOtYZkyWLIid5MpIRsTrqlUYItfLLQg&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">Embraer</h5>
            <p class="card-text">$300.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIZVMel_ACSAq4A_c2bb6OXj93Vuq92u6oag&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">Dassault</h5>
            <p class="card-text">$450.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>


<div class="col-md-3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBncZXl17pOLFanocDFn9_3usGg9o34LvQwfDUAY35fj54HTvkLMLP0HRVZU-aVFFsP9EePGO_H7dDdywYjJSbhjZUiKb6SZPX5-b7s9o&s=10" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">HondaJet</h5>
            <p class="card-text">$430.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>


<div class="col-md-3">

    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQeWjEB8_LjEvlWMSyp5_XXw1tfCWl_01Nq-w&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">AirBus</h5>
            <p class="card-text">$480.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>

    </div>
</div>




<div class="col-md-3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGrclBq5XtFkYlZB5WTVoqKpiZ0x21if_N7g&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">Bombardier</h5>
            <p class="card-text">$350.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="card">
        <img src="https://i.ytimg.com/vi/xy82Wzu4Mz4/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLA6HasJt48JyGfSrtmLG2bdFHSVsQ" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">pilatus</h5>
            <p class="card-text">$490.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>



<div class="col-md-3">
    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkOuyxCSpwTlggSQbX7PASAnQnRVOXQsbMWg&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">Gulfstream</h5>
            <p class="card-text">$509.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>
    </div>
</div>



<div class="col-md-3">

    <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9y-97pJSYRx3qp2nnqOufSLWUKCWh8lv_uQ&s" class="card-img-top">
        <div class="card-body text-center">
            <h5 class="card-title">Textron (Cessna)</h5>
            <p class="card-text">$489.00</p>
            <button class="btn btn-success">Book Now</button>
        </div>

    </div>

    </div>
